INSTRUCTURE_URL: replace-with-your-INFRASTRUCTURE-URL_and_rename_this_file
API_KEY: replace-with-your-KEY_API_and_rename_this_file
COURSE_ID: replace-with-your-COURSE_ID_and_rename_this_file
ASSIGNMENT_ID: replace-with-your-ASSIGNMENT_ID_and_rename_this_file
