<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🌐 Internet Connection Monitor (ICMd) 🔌 v{{ MY_VERSION }}</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body onclick="enableAudio()" onkeydown="enableAudio()">
    <audio id="alert-sound" src="{{ url_for('static', filename='attention_tone_sm30-96953.mp3') }}" allow="autoplay"></audio>
    <div class="header-container">
        <div class="icmd-box">
            Pasos:
        </div>
        <div class="code-box">
            <code>
                1️⃣ cd YOUR-PROJECT
            </code>
        </div>
        <div class="code-box">
            <code>
                2️⃣ ICM {{ server_ip }} ID
            </code>
        </div>

        <div class="icmd-box" id="server-status">
            ⚠️
        </div>

        <!-- Contadores -->
        <div class="counter-box-ok">
            <div class="counter-item" id="ok-count">0 ✔</div>
        </div>
        <div class="counter-box-warning">
            <div class="counter-item" id="warning-count">0 ⚠️</div>
        </div>
        <div class="counter-box-critical">
            <div class="counter-item" id="critical-count">0 ❌</div>
        </div>
        <div class="counter-box-active">
            <div class="counter-item" id="active-count">0 ✅</div>
        </div>
        <div class="counter-box-ignore">
            <div class="counter-item" id="ignore-count">0 ❎</div>
        </div>
        <button id="audio-toggle" onclick="enableAudio()" class="audio-off">🔇 </button>
    </div>
    <table>
        <thead>
            <tr>
                <th class="right">N°</th>
                <th class="right">ID</th>
                <th class="left">Nombre</th>
                <th class="center">OS</th>
                <th class="right">ICM Ver</th>
                <th class="center">ICM.tgz</th>
                <th class="right">IP</th>
                <th class="right">Actualización</th>
                <th class="right">Tiempo Transcurrido (s)</th>
                <th class="center">Estado</th>
                <th class="center"><span id="toggleOff">❌</span> Inactivo <span id="toggleOn">❎</span> </th>
            </tr>
        </thead>
        <tbody id="clients-table"></tbody>
    </table>
    <script src="{{ url_for('static', filename='index.js') }}" type="text/javascript" defer></script>
    <div class="header-container">
        <div class="icmd-os">
                ⚡️ Energizado por 🌐 <a href="https://github.com/nelbren/ICM" target="_blank">ICM v{{ ICM_VERSION }}</a> & <a href="https://github.com/nelbren/ICMd" target="_blank">ICMd v{{ MY_VERSION }}</a>
                🔌 ejecutandose en {{ osEmoji }}
        </div>
    </div>
</body>
</html>